<nav>
  <ul>
    <li><a href="#" routerLink='/' rounterLinkActive="active">Company</a></li>
    <li><a href="#" routerLink='/' rounterLinkActive="active">Feed</a></li>
    <li><a href="#" routerLink='/' rounterLinkActive="active">Violations</a></li>
    <li><a href="#" routerLink='/' rounterLinkActive="active">Statistics</a></li>
    <li><a href="#" routerLink='/' rounterLinkActive="active">Settings</a></li>
    <li><a href="#" routerLink='/' rounterLinkActive="active">Profile</a></li>
    <li><a href="#" routerLink='/' rounterLinkActive="active">Log Out</a></li>
  </ul>
</nav>