@import 'src/styles/base/config.scss';

nav {
  background-color: lighten(black, 30%);
  position: relative;
  top: 0;
  width: 100%;
  content: "";
  // display: table;
  // clear: both;
  //display: flex;
  //flex-direction: row;
  //justify-content: space-evenly;
  width: $app-width;
 // align-self: center;
  ul li {
   // float: left;
    font-size: 1em;
    list-style-type: none;
  }
  ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: .7rem .9rem;
    border-bottom: solid 1px rgba(0, 0, 0, 0.3);
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    transition: background 0.3s linear;
    --webkit-transition: background 0.3s linear;
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
  }
  // ul li a:hover {
  //   background-color: black;
  // }
  // ul li a.active {
  //   background-color: red;
  // }
  .circle {
    border-radius: 25%; // width: 100px;
    // height: 50px;
    padding: 1px 10px 1px 10px;
    background-color: red;
  }
}

.right-flex {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}
.left-flex {
  display: flex;
  flex-direction: row;
  // align-content: flex-end;
}