nav {
  background-color: lighten(black, 20%);
  position: relative;
  top: 0;
  width: 100%;
  content: "";
  // display: table;
  // clear: both;

  display: flex;
  //flex-direction: row;
  justify-content: space-evenly;
  width: 1240px;
  align-self: center;



  ul li {
    float: left;
    font-size: 1em;
    list-style-type: none;

  }
  ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: .7rem .9rem;
    border-bottom: solid 1px rgba(0, 0, 0, 0.3);
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    transition: background 0.3s linear;
    --webkit-transition: background 0.3s linear;
  }
  ul li a:hover {
    background-color: black;
  }
  ul li a.active {
    background-color: red;
  }

}