@import 'src/styles/base/config.scss';
nav {
  background-color: lighten(black, 30%);
  position: relative;
  top: 0;
  width: 100%;
  content: "";
  display: table;
  clear: both;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: $app-width;
  .left-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    -webkit-padding-start: 0px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
  }
  .right-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
  }
  ul li {
    font-size: 1em;
    list-style-type: none;
    .title {
      font-size: 150%;
      padding-top: .7rem;
      padding-bottom: .7rem;
    }
    :hover {
      background-color: black;
    }
    a {
      display: block;
      height: 60px;
      color: #fff;
      text-decoration: none;
      padding: 1.1rem .9rem;
      border-bottom: solid 1px rgba(0, 0, 0, 0.3);
      border-right: 1px solid rgba(0, 0, 0, 0.2);
      transition: background 0.3s linear;
      --webkit-transition: background 0.3s linear;
      display: flex;
      flex-direction: row;
      justify-content: baseline;
    }
  }
  .circle {
    border-radius: 30%;
    padding: 1px 10px 1px 10px;
    background-color: red !important;
    align-self: flex-start;
    margin-left: 1rem;
  }
  .active {
    background-color: black;
  }
}