<nav>
  <ul class="left-flex">
    <li><a href="#" routerLink='/' rounterLinkActive="active" class='title'>Company</a></li>
    <li><a href="#" routerLink='/' rounterLinkActive="active">Feed <span class='circle'>2</span></a></li>
    <li><a href="#" routerLink='/' rounterLinkActive="active"><span>Violations</span><span class='circle'>42</span></a></li>
    <li><a href="#" routerLink='/' rounterLinkActive="active">Statistics</a></li>
    <li><a href="#" routerLink='/' rounterLinkActive="active" class='active'>Settings</a></li>

  </ul>
  <ul class="right-flex">
    <li><a href="#" routerLink='/' rounterLinkActive="active">Profile</a></li>
    <li><a href="#" routerLink='/' rounterLinkActive="active">Log Out</a></li>
  </ul>
</nav>