@import 'src/styles/base/config.scss';

$padding: 20px;

// 483
.ad {
  display: flex;
  flex-direction: column;
  width:$ad-container-width; //350

  justify-content: space-around;
  background-color: white;


  .title {
    padding-left: $padding;
    opacity: $lightTextOpacity;
    line-height: 2em;


  }

  .image {
    padding-left: $padding;
    padding-bottom: $padding;
    width: $ad-container-width - $padding;
  }
}
