.ad-container {
  display: flex;
  flex-direction: column;
  width:180px;
  height: 200px;
  justify-content: space-around;
  background-color: white;
  box-shadow: 10px 10px 5px lightgrey;

  .title {
    padding-left: 20px;

  }
  
  .image {
    padding-left: 20px;
    width: 150px;
    height: 150px;
  }
}
