<!-- Top Section -->
<div class="title-container">
  <div class="post-info-image">
    <img [src]="post.avatarUrl">
  </div>

  <div class="post-info-name-date">
    <div class="name">
      {{post.name}}
    </div>
    <div class="date">
      {{ post.postDate | date:'MMMM dd, yyyy' }}
    </div>
  </div>
  <div class="delete-post" (click)="deletePost()">
    x
  </div>


</div>
<!-- Image -->
<div>
  <img class="large-image" [src]="post.largeImageUrl" alt="">
</div>
<!-- Message -->
<div class="message-container">
  {{post.message}}
</div>