
// app-post {
//   // box-shadow: 0 1px 2px 0 rgba(0,0,0,0.30);
// }

.title-container {
  display: flex;
  flex-direction: row;
  background-color: white;
  align-self: auto;

  .post-info-image {
    padding: 15px;

    img {
      border-radius: 50%;
      width: 75px;
      height: 75px;
    }



  }

  .post-info-name-date {
    width: 475px;
    padding-top: 20px;
    align-self: initial;

    .date {
      opacity: .7;// $dimOpacity;
    }
    .name {
      font-weight: bold;
    }

  }

  .delete-post {
    width: 20px;
    padding: 6px;
    text-align: right;
    opacity:  .7;


  }
  .delete-post:hover {
    cursor: pointer;
  }

}

.large-image {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.message-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  opacity: 0.85;
  font-size: .85em;
  line-height: 1.5em;
  border-width: 2%;
  background-color: white;
  padding: 2%;
}