@import 'src/styles/base/config';


.title-container {
  display: flex;
  flex-direction: row;
  background-color: white;
  align-self: auto;

  .post-info-image {
    padding: 15px;

    img {
      border-radius: 50%;
      width: 75px;
      height: 75px;
    }



  }

  .post-info-name-date {
    width: 475px;
    padding-top: 20px;
    align-self: initial;

    .date {
      opacity: $lightTextOpacity;
    }
    .name {
      font-weight: bold;
    }

  }

  .delete-post {
    width: 20px;
    padding: 6px;
    text-align: right;
    opacity:  $lightTextOpacity;


  }
  .delete-post:hover {
    cursor: pointer;
  }

}

.large-image {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.message-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  opacity: $lightTextOpacity;
  font-size: .85em;
  line-height: 1.5em;
  border-width: $gutter;
  background-color: white;
  padding: $gutter;
}