<form autocomplete="off" [formGroup]="postForm" (ngSubmit)="onSubmit()" class=form-container>
  <div>
    <label for="name">Name</label>

    <span *ngIf="(postForm.get('name').touched && !postForm.get('name').valid)" [ngClass]="{'error': (postForm.get('name').touched && !postForm.get('name').valid)}">
      Please enter your name</span>
  </div>
  <div>
    <input type="text" required #name formControlName="name">
    <br>
    <br>
  </div>
  <div>
    <label for="avatarUrl">URL for Avatar Photo</label>
    <span *ngIf="(postForm.get('avatarUrl').touched && !postForm.get('avatarUrl').valid)" [ngClass]="{'error': (postForm.get('avatarUrl').touched && !postForm.get('avatarUrl').valid)}">
      Please enter a valid Avatar Url (include http/https)</span>

  </div>
  <div>
    <input type="text" pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)"
      required #avatarURL formControlName="avatarUrl">
    <br>
    <br>
  </div>

  <div>
    <label for="largeImageUrl">URL for Large Photo</label>
    <span *ngIf="(postForm.get('largeImageUrl').touched && !postForm.get('largeImageUrl').valid)" [ngClass]="{'error': (postForm.get('largeImageUrl').touched && !postForm.get('largeImageUrl').valid)}">
      Please enter an Image Url  (include http/https)</span>
  </div>
  <div>
    <input type="text" pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)"
      required #largeImageUrl formControlName="largeImageUrl">
    <br>
    <br>
  </div>
  <div>
    <label for="message">Message</label>
    <span *ngIf="(postForm.get('message').touched && !postForm.get('message').valid)" [ngClass]="{'error': (postForm.get('message').touched && !postForm.get('message').valid)}">
      Please enter a message!</span>
  </div>
  <div>
    <input type="text" required #message formControlName="message">
    <br>
    <br>
  </div>
  <div>
    <button type="submit" [ngClass]="{'disabled': !postForm.valid }" [disabled]='!postForm.valid'>Save</button>
  </div>
</form>
