* {
  background-color: lightgrey;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 1240px;
  align-self: center;

  .post-container {
    width: 600px;
    margin-top: 30px;
    flex-direction: column;

  }

  app-post {
    margin-bottom: 25px;
    box-shadow: 5px 5px red;
  }


  .ads-container {
    width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-top:30px;

    app-ad {
      margin-bottom: 25px;
      box-shadow: 5px 5px purple;


    }
  }

  .new-post-title {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }


}