@import 'src/styles/base/config.scss';


.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: $app-width;
  align-self: center;
  background-color: lightgrey;

  .post-container {
    width: $post-container-width;
    margin-top: 30px;
    display: flex;
    flex-direction: column;

  }

  app-post {
    margin-bottom: 25px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.30);
  }


  .ads-container {
    width: $ad-container-width;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-top:30px;

    app-ad {
      margin-bottom: 25px;
      box-shadow: 0 1px 2px 0 rgba(0,0,0,0.30);


    }
  }

  .new-post-title {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  app-create-post {
    margin-bottom: 40px;
  }


}